
<div class="card text-center">
    <div class="card-header">
      <h1>{{codigoUrl.codigo}}</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">Graduado: {{ nombre }} </h5>
      <h3 class="card-title">Invitado: {{ invitados }} </h3>
      <h5 class="card-title">Mesa: {{mesa}} </h5>
      <h5 class="card-title">Horario: {{ horario }} </h5>
    </div>
</div>